.cardContainer{
    border-radius: 26px 26px 0 0;
    background-color: var(--khaki);
    width: 300px;
    margin: 0.5rem 0;
    box-shadow: 0 4px 10px var(--eerie-black);
}
.cardContainer img{
    width: 100%;
    border-radius: 26px 26px 0 0;
}
.infoContainer{
    padding: 0.7rem;
    height: 120px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    box-shadow: inset 0 0 140px var(--alabaster);
}